*~
*.o
Makefile.in
Makefile
.deps
.libs
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/ChangeLog
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/depcomp
/html
/INSTALL
/install-sh
/latex
/libgnu
/libtool
/ltmain.sh
/missing
/plptools-*.tar.gz
/stamp-h.in
/stamp-h1
